In [127]:
import pandas as pd
import numpy as np
import os

In [102]:
BLI = pd.read_csv("data\BLI.csv")
WEO = pd.read_csv("data\WEO.xls", thousands=',', delimiter='\t', encoding='latin1', na_values='n/a')

In [103]:
WEO.head()

,WEO Country Code,Country,Units,Scale,2017,2018,2019,2020,2021,2022,2023,2024,Estimates Start After
0,512,Afghanistan,U.S. dollars,Units,569.531,544.983,513.108,509.759,533.089,566.416,602.884,644.950,2016.0
1,914,Albania,U.S. dollars,Units,4540.459,5239.212,5372.742,5847.056,6333.425,6876.566,7410.754,7993.468,2018.0
2,612,Algeria,U.S. dollars,Units,4012.134,4080.913,3980.118,4039.101,4032.707,4055.391,4047.724,3768.013,2017.0
3,614,Angola,U.S. dollars,Units,4303.693,3620.589,3037.976,2867.517,2897.032,2953.859,3045.260,3120.541,2017.0
4,311,Antigua and Barbuda,U.S. dollars,Units,16089.363,17464.336,18109.095,18887.448,19544.781,20124.740,20721.909,21336.798,2011.0

In [104]:
BLI.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.4,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.5,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.7,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.0,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.1,NaN,NaN

In [107]:
BLI = BLI[BLI['INEQUALITY']=='TOT']
BLI = BLI.pivot(index="Country", columns="Indicator", values="Value")

In [108]:
BLI.head()

Indicator,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,Housing expenditure,...,Personal earnings,Quality of support network,Rooms per person,Self-reported health,Stakeholder engagement for developing regulations,Student skills,Time devoted to leisure and personal care,Voter turnout,Water quality,Years in education
Country,,,,,,,,,,,,,,,,,,,,,
Australia,5.0,NaN,81.0,13.04,73.0,63.5,1.1,32759.0,427064.0,20.0,...,49126.0,95.0,NaN,85.0,2.7,502.0,14.35,91.0,93.0,21.0
Austria,16.0,0.9,85.0,6.66,72.0,80.6,0.5,33541.0,308325.0,21.0,...,50349.0,92.0,1.6,70.0,1.3,492.0,14.55,80.0,92.0,17.0
Belgium,15.0,1.9,77.0,4.75,63.0,70.1,1.0,30364.0,386006.0,21.0,...,49675.0,91.0,2.2,74.0,2.0,503.0,15.70,89.0,84.0,19.3
Brazil,10.0,6.7,49.0,7.13,61.0,35.6,26.7,NaN,NaN,NaN,...,NaN,90.0,NaN,NaN,2.2,395.0,NaN,79.0,73.0,16.2
Canada,7.0,0.2,91.0,3.69,73.0,82.2,1.3,30854.0,423849.0,22.0,...,47622.0,93.0,2.6,88.0,2.9,523.0,14.56,68.0,91.0,17.3

In [111]:
WEO.rename(columns={"2019": "GDP per capita"}, inplace=True)
WEO.set_index("Country", inplace=True)

In [115]:
full_country_stats = pd.merge(left=BLI, right=WEO,
                                  left_index=True, right_index=True)
full_country_stats.sort_values(by="GDP per capita", inplace=True)

In [116]:
full_country_stats.head()

,Air pollution,Dwellings without basic facilities,Educational attainment,Employees working very long hours,Employment rate,Feeling safe walking alone at night,Homicide rate,Household net adjusted disposable income,Household net wealth,Housing expenditure,...,Scale,2017,2018,GDP per capita,2020,2021,2022,2023,2024,Estimates Start After
Country,,,,,,,,,,,,,,,,,,,,,
South Africa,22.0,37.0,73.0,18.12,43.0,36.1,13.7,NaN,NaN,18.0,...,Units,6119.887,6353.846,6100.354,6193.171,6331.797,6493.317,6663.568,6846.991,2018.0
Colombia,10.0,23.9,54.0,26.56,67.0,44.4,24.5,NaN,NaN,17.0,...,Units,6325.486,6641.507,6508.127,6744.007,7053.528,7381.726,7729.015,8096.644,2018.0
Brazil,10.0,6.7,49.0,7.13,61.0,35.6,26.7,NaN,NaN,NaN,...,Units,9926.291,8958.576,8796.909,8955.650,9344.111,9737.998,10167.442,10606.458,2016.0
Turkey,20.0,8.0,39.0,32.64,52.0,59.8,1.4,NaN,NaN,20.0,...,Units,10551.139,9405.321,8957.894,9683.565,10635.818,11373.637,11901.693,12489.904,2018.0
Mexico,16.0,25.5,38.0,28.70,61.0,41.8,18.1,NaN,NaN,20.0,...,Units,9366.655,9796.976,10118.167,10405.789,10767.497,11150.183,11563.558,12007.789,2018.0

In [119]:
print(full_country_stats.index)

Index(['South Africa', 'Colombia', 'Brazil', 'Turkey', 'Mexico', 'Russia',
       'Poland', 'Chile', 'Hungary', 'Latvia', 'Lithuania', 'Slovak Republic',
       'Greece', 'Portugal', 'Czech Republic', 'Estonia', 'Slovenia', 'Spain',
       'Korea', 'Italy', 'New Zealand', 'Japan', 'United Kingdom', 'France',
       'Israel', 'Belgium', 'Canada', 'Germany', 'Finland', 'Austria',
       'Sweden', 'Netherlands', 'Australia', 'Denmark', 'United States',
       'Iceland', 'Ireland', 'Norway', 'Switzerland', 'Luxembourg'],
      dtype='object', name='Country')

In [125]:
remove_indices = [9, 1, 2, 4, 7]
keep_indices = list(set(range(36)) - set(remove_indices))
clean_data = full_country_stats[["GDP per capita", 'Life satisfaction']].iloc[keep_indices]
clean_data

                 GDP per capita  Life satisfaction
Country
South Africa           6100.354                4.7
Turkey                 8957.894                5.5
Russia                11162.652                5.8
Poland                14901.547                6.1
Hungary               17463.284                5.6
Lithuania             19266.788                5.9
Slovak Republic       19547.657                6.2
Greece                19974.374                5.4
Portugal              23030.786                5.4
Czech Republic        23213.954                6.7
Estonia               23523.596                5.7
Slovenia              26170.250                5.9
Spain                 29961.105                6.3
Korea                 31430.598                5.9
Italy                 32946.524                6.0
New Zealand           40634.137                7.3
Japan                 40846.777                5.9
United Kingdom        41030.232                6.8
France                41760.606                6.5
Israel                42823.307                7.2
Belgium               45175.585                6.9
Canada                46212.842                7.4
Germany               46563.989                7.0
Finland               48868.742                7.6
Austria               50022.612                7.1
Sweden                51241.914                7.3
Netherlands           52367.849                7.4
Australia             53825.164                7.3
Denmark               59795.269                7.6
United States         65111.596                6.9
Iceland               67037.340                7.5

In [129]:
clean_data.to_csv('data/country_stats.csv')